
font-family: 'Roboto', sans-serif;

nav ul a,
nav .brand-logo {
    color: black;
}


.padded {
    padding: 10px;
}

.resize {
    max-width: 100%;
    height: auto;
}

.img {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
}

.profile-img {
    height: auto;
    width: auto;
    max-width: 240px;
    max-height: 240px;
    display:block;
    margin:auto;
}

.parallax-container {
    height: 570px;
}

.icon-img {
    height: auto;
    width: auto;
    max-width: 150px;
    max-height: 150px;
    display:block;
    margin:auto;
}

.img-natural {
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.img-hidden {
    opacity: 0;
    filter: alpha(opacity=0);
}

.roboto {
    font-family: Roboto, sans-serif;
}

.card-spacing {
    padding: 10%;
    height: auto;
    width: auto;
    max-width: 240px;
    max-height: 240px;
}

.modal-img {
    padding: 10%;
    height: auto;
    width: auto;
    max-width: 260px;
    max-height: 260px;
}

.pointer {
    cursor: pointer;
}

.bottom {
    position: absolute;
    bottom: 30px;
}

.imgborder
{
    background:grey;
    border:1px solid #000000;
}
